{% extends "base.html" %}
{% block title %}Личный кабинет{% endblock %}
{% block content %}

{% if current_user.is_authenticated and current_user.student_id %}
    <h3>👨‍🎓 Личный кабинет студента: {{ current_user.full_name }}</h3>
    <div class="card">
        <a href="{{ url_for('main.student_tests') }}">📚 Просмотреть тесты</a>
    </div>
    <div class="card">
        <a href="{{ url_for('main.student_results') }}">📊 Мои результаты</a>
    </div>
{% else %}
    <h3>👨‍🏫 Личный кабинет преподавателя: {{ current_user.full_name }}</h3>
    <div class="card">
        <a href="{{ url_for('main.create_test') }}">➕ Создать тест</a>
    </div>
    <div class="card">
        <a href="{{ url_for('main.assign_test') }}">👥 Назначить тест</a>
    </div>
    <div class="card">
        <a href="{{ url_for('main.test_results') }}">📈 Результаты студентов</a>
    </div>
{% endif %}

{% endblock %}
