{% extends "base.html" %}
{% block title %}Авторизация{% endblock %}
{% block content %}
<h3>Авторизация</h3>
<form method="post">
    <label>Тип пользователя:</label>
    <select name="user_type" id="user_type">
        <option value="student">Студент</option>
        <option value="teacher">Преподаватель</option>
    </select><br><br>
    <div id="student_fields">
        Номер студенческого билета: <input type="text" name="student_id"><br>
    </div>
    <div id="teacher_fields" style="display:none;">
        Логин: <input type="text" name="username"><br>
        Пароль: <input type="password" name="password"><br>
    </div>
    <input type="submit" value="Войти">
</form>
<script>
    const select = document.getElementById('user_type');
    const studentFields = document.getElementById('student_fields');
    const teacherFields = document.getElementById('teacher_fields');
    select.addEventListener('change', function() {
        if (this.value === 'student') {
            studentFields.style.display = 'block';
            teacherFields.style.display = 'none';
        } else {
            studentFields.style.display = 'none';
            teacherFields.style.display = 'block';
        }
    });
</script>
{% endblock %}
