{% extends "base.html" %}
{% block title %}Авторизация{% endblock %}
{% block content %}
<h3>Авторизация</h3>
<form method="post">
    <label>Тип пользователя:</label>
    <select name="user_type" id="user_type">
        <option value="student">Студент</option>
        <option value="teacher">Преподаватель</option>
    </select><br><br>
    <div id="student_fields">
        <label for="student_id">Номер студенческого билета:</label>
        <input type="text" name="student_id" id="student_id" class="input-field"><br>
    </div>
    <div id="teacher_fields" style="display:none;">
        <label for="username">Логин:</label>
        <input type="text" name="username" id="username" class="input-field"><br>
        <label for="password">Пароль:</label>
        <div class="password-container">
            <input type="password" name="password" id="password" class="input-field">
            <span class="password-toggle" onclick="togglePassword()">👁️</span>
        </div>
    </div>
    <input type="submit" value="Войти" class="btn">
</form>
<script>
    const select = document.getElementById('user_type');
    const studentFields = document.getElementById('student_fields');
    const teacherFields = document.getElementById('teacher_fields');
    select.addEventListener('change', function() {
        if (this.value === 'student') {
            studentFields.style.display = 'block';
            teacherFields.style.display = 'none';
        } else {
            studentFields.style.display = 'none';
            teacherFields.style.display = 'block';
        }
    });

    function togglePassword() {
        var passwordField = document.getElementById("password");
        if (passwordField.type === "password") {
            passwordField.type = "text";
        } else {
            passwordField.type = "password";
        }
    }
</script>
{% endblock %}
