{% extends "base.html" %}
{% block title %}Прохождение теста{% endblock %}
{% block content %}
<h3>{{ test.title }}</h3>
<p>{{ test.description }}</p>

<form method="post">
    {% for question in questions %}
        <h4>{{ question.text }}</h4>
        {% if options[question.id] %}
            {% for opt in options[question.id] %}
                <input type="radio" name="answer_{{ question.id }}" value="{{ opt.id }}"> {{ opt.option_text }}<br>
            {% endfor %}
        {% else %}
            Ваш ответ: <textarea name="answer_{{ question.id }}"></textarea><br>
        {% endif %}
        <hr>
    {% endfor %}

    <input type="submit" value="Отправить тест">
</form>

<a href="{{ url_for('main.student_tests') }}">Назад к тестам</a>
{% endblock %}
